* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
}

header {
  background: #111;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.product {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.product img {
  width: 300px;
  border-radius: 8px;
}

.price {
  font-size: 22px;
  color: green;
}

button {
  background: green;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.reviews {
  margin-top: 30px;
}
